[submodule "lib/Hash"]
	path = lib/Hash
	url = https://github.com/Chocobo1/Hash.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "lib/unfmt"]
	path = lib/unfmt
	url = https://github.com/JoryVardas/unfmt.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/sqlpp11"]
	path = lib/sqlpp11
	url = https://github.com/rbock/sqlpp11.git
[submodule "lib/sqlpp11-connector-mysql"]
	path = lib/sqlpp11-connector-mysql
	url = https://github.com/rbock/sqlpp11-connector-mysql.git
[submodule "lib/date"]
	path = lib/date
	url = https://github.com/HowardHinnant/date.git
[submodule "lib/cxxsubs"]
	path = lib/cxxsubs
	url = https://github.com/edmBernard/cxxsubs.git
